<div class="flex justify-center">
  <%!-- <p>Total clicks: <%= @clicks %></p>
  <p>Time spent: <%= @time_spent %></p> --%>
  <.link class="bg-black text-white px-14 py-3 text-2xl font-semibold rounded-xl mt-4" patch={~p"/board"}>
    Play again
  </.link>
</div>
